USE [master]
GO
/****** Object:  Database [Java]    Script Date: 06-Jul-17 10:07:16 AM ******/
CREATE DATABASE [Java]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Java', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Java.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Java_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Java_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Java].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Java]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 06-Jul-17 10:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [char](3) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 06-Jul-17 10:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [char](3) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SchoolFee] [float] NULL,
	[LearnerCount] [int] NULL DEFAULT ((0)),
	[StartDate] [date] NULL DEFAULT (getdate()),
	[Status] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 06-Jul-17 10:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1000,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CategoryId] [char](3) NULL DEFAULT ('MOB'),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (N'LAP', N'Laptop')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (N'MOB', N'Mobile')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (N'REM', N'Remote')
INSERT [dbo].[Courses] ([Id], [Name], [SchoolFee], [LearnerCount], [StartDate], [Status]) VALUES (N'JAV', N'Lập trình Web với Java', 4000000, 25, CAST(N'2017-07-01' AS Date), 0)
INSERT [dbo].[Courses] ([Id], [Name], [SchoolFee], [LearnerCount], [StartDate], [Status]) VALUES (N'MVC', N'Lập trình ASP.NET MVC 5', 3500000, 26, CAST(N'2017-07-01' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [CategoryId]) VALUES (1000, N'iPhone 9', N'MOB')
INSERT [dbo].[Products] ([Id], [Name], [CategoryId]) VALUES (1001, N'Samsung Galaxy', N'MOB')
INSERT [dbo].[Products] ([Id], [Name], [CategoryId]) VALUES (1002, N'Sony Vaio', N'LAP')
SET IDENTITY_INSERT [dbo].[Products] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Courses__737584F699DD1F7F]    Script Date: 06-Jul-17 10:07:16 AM ******/
ALTER TABLE [dbo].[Courses] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON UPDATE CASCADE
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD CHECK  (([LearnerCount]>=(15) AND [LearnerCount]<=(30)))
GO
USE [master]
GO
